$whiteC: #fff;

$navActiveBorderC: #dedede;

// Bootstrap override
// .nav {
//     z-index: 1000000;
// }
.nav {
    & > li > {
        a.active {
            background: $whiteC;
            box-shadow: 0 0 0px 1px $navActiveBorderC inset;
        }
        a:focus{
            outline: none;
            background: #fff!important;
        }
    }
}

// App common elements
#app_content-container {
    height: 100%;
    padding: 51px 0 0;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.app_content-container-cmp {
    position: relative;
    top: 0;

    &.cmp-padding_top_bottom {
        padding-bottom: 20px;
        padding-top: 20px;
    }
    &.cmp-padding_top {
        padding-top: 20px;
    }
    &.cmp-padding_bottom {
        padding-top: 20px;
    }
}

// Global loader
.cmp-global_loader {
    background: url(../app/assets/images/loader.gif) rgba(255, 255, 255, 0.56) no-repeat center;
    background-size: 121px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999999;
}

// Utility classes
.box-full_size {
    height: 100%;
    width: 100%;
}
.padding_sides-0 {
    padding-left: 0;
    padding-right: 0;
}
.padding_left-0 {
    padding-left: 0;
}
.margin_top_bottom-0 {
    margin-bottom: 0;
    margin-top: 0;
}
.height-100percent {
    height: 100%;
}
.overflow-auto {
    overflow-x: hidden;
    overflow-y: auto;
}
.width-full {
    width: 100%;
}
.z-index-1{
    z-index: 1;
}