<nav class="navbar navbar-default navbar-fixed-top" style="z-index: 1000000;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="#">KFuture</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a routerLink="login" routerLinkActive="active">Login</a>
                </li>
                <li *ngIf="checkPermission('products')">
                    <a routerLink="products" routerLinkActive="active">Products</a>
                </li>
                <li *ngIf="checkPermission('report_management')">
                    <a routerLink="report_management" routerLinkActive="active">Report Management</a>
                </li>
                <!--show this item in the nav bar only if the user is admin-->
                <li *ngIf="checkPermission('admin/create_report')">
                    <a routerLink="admin/create_report" routerLinkActive="active">Admin - Create Report</a>
                </li>
                <!--show this item in the nav bar only if the user is admin-->
                <li  class="dropdown" *ngIf="checkPermission('cache_test') && checkPermission('error_log')" >
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dev <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="cache_test" routerLinkActive="active">Cache Test</a></li>
                        <li><a routerLink="error_log" routerLinkActive="active">Error Log</a></li>
                    </ul>
                </li>
                <!--<li>
                    <span (click)="promenaJezika()">promena jezika</span>
                </li>-->
				 <!--<li>
                    <a routerLink="usersTest" routerLinkActive="active">Users Test</a>
                </li> -->
                <li>
                    <a routerLink="clientsTest" routerLinkActive="active">Clients Test</a>
                </li>
                <li>
                    <a routerLink="filesTest" routerLinkActive="active">Files Management</a>
                </li>
                <li>
                    <a routerLink="productsTest" routerLinkActive="active">Test Products</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div id="language_box" class="clearfix">
                        {{'njamb.fe.navigation.products' | translate}}
                        <a class="language en" [ngClass]="{'active_lang': _appService.defaultLanguage == 'en'}" (click)="matchDefaultLanguage('en') || changeLanguage('en')"></a>
                        <a class="language it" [ngClass]="{'active_lang': _appService.defaultLanguage == 'it'}" (click)="matchDefaultLanguage('it') || changeLanguage('it')"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>