<div class="box-full_size overflow-auto" #box>
	<div id="cmp-report_management" class="app_content-container-cmp height-100percent container">
		<!--<div *ngIf="isLoading" class="cmp-global_loader">
            <img src="app/assets/images/loader.gif" class="cmp-global_loader-img" alt="Loading...">
        </div>-->
		<p-growl [value]="messages"></p-growl>
		<!-- View content -->
		<h2 class="view-header clearfix">
			<div class="view-header-sub">
				{{'fe.reportManagement.mainHeader' | translate}}
			</div>
			<img src="app/assets/images/loader.gif" style="width: 28px;" *ngIf="bLoadingState">

			<div *ngIf="reportAlert.show" class="view-header-alert_box">
				<alert [type]="reportAlert.type" [dismissible]="reportAlert.dismissable" (close)="setAlert(false)">
					{{reportAlert.message}}
				</alert>
			</div>
		</h2>
		<!-- Report list -->
		<div class="col-md-4 padding_left-0 report-list">
			<!-- Controls -->
			<div class="container-fluid row">
				<div class="col-xs-7 padding_left-0">
					<h3 class="view-sub_header ">
						Reports
						<span class="glyphicon glyphicon-refresh list-refresh_btn" (click)="bPrintReportLoading || bLoadingState || loadReportsRest()"></span>
					</h3>
				</div>
				<div class="col-xs-5 text-right padding_right-0">
					<select class="form-control" [(ngModel)]="selectedType" placeholder="Type" (ngModelChange)="typeChanged()" [disabled]="bPrintReportLoading">
						<option [value]="type.value" *ngFor="let type of types">{{type.label}}</option>
					</select>
				</div>
			</div>

			<div *ngIf="reports">
				<div *ngFor="let report of reports | filter: selectedType">
					<table class="table item" [ngClass]="{'item-active': selectedReport==report}" (click)="selectReport(report.id)">
						<tr>
							<td class="text-left col-name">
								<div>
									<b>{{report.name}}</b> <small>{{report.description || ''}}</small>
								</div>
							</td>
							<td *ngIf="selectedType == 'all'" [ngClass]="{'sync' : selectedType == 'sync'}" class="text-right">
								{{report.type == 'sync' ? 'Sync' : 'Async'}}
							</td>
						</tr>
					</table>
				</div>
			</div>

			<div *ngIf="reports">
				<alert type="warning" *ngIf="isReportPipeEmpty(reports, selectedType)">
					No reports found
				</alert>
			</div>
		</div>

		<div id="report_management-form" *ngIf="reports && selectedReport && form && formLoaded" class="col-md-8 padding_right-0">
			<h3 class="view-sub_header">Report Form <img src="app/assets/images/loader.gif" style="width: 23px;" *ngIf="bPrintReportLoading"></h3>
			<div class="form-box clearfix">
				<h4 class="form-header padding_sides-15">{{selectedReport.name}} <span class="report_type">{{selectedReport.type == 'sync' ? 'Synchronous' : 'Asynchronous'}}</span></h4>
				<form [formGroup]="form" (ngSubmit)="submit(form)">
					<div *ngFor="let row of selectedReportParams" class="clearfix">
						<div *ngFor="let column of row; let columnIndex = index " class="col-md-4">
							<div class="form-group" [ngClass]="{'has-error': !form.controls[column.name].valid}">
								<label [attr.for]="column.name">{{column.name | capital}}:</label>
								<input class="form-control" [formControlName]="column.name" [type]="transformFieldType(column.type)" [placeholder]="column.name">
								<control-messages [control]="form.controls[column.name]"></control-messages>
							</div>
						</div>
						<hr class="form-hr">
					</div>

					<div class="form-group clearfix col-md-4" [ngClass]="{'has-error': !form.controls['format'].valid}">
						<label for="format">Format</label>
						<select formControlName="format" class="form-control" required>
                                <option value="">Select format</option>
                                <option value="pdf">PDF</option>
                            </select>
						<control-messages [control]="form.controls['format']"></control-messages>
					</div>
					<div class="col-md-4">
						<div class="form-group" *ngIf="selectedReport.type=='async'" [ngClass]="{'has-error': !form.controls['deadline'].valid}">
							<label for="deadline">Deadline:</label>
							<div>
								<p-calendar formControlName="deadline" minDate="0d" dateFormat="yy-mm-dd" timeFormat="HH:mm:ss"></p-calendar>
								<control-messages [control]="form.controls['deadline']"></control-messages>
							</div>
						</div>
					</div>
					<div class="container-fluid row clear-both">
						<div class="col-md-4 col-md-offset-8 text-right">
							<input *ngIf="selectedReport.type=='sync'" type="button" class="btn btn-primary" value="Download" [disabled]="!form.valid || bPrintReportLoading"
								(click)="printReport(false, selectedReport.name)" />
							<input *ngIf="selectedReport.type=='sync'" type="button" class="btn btn-primary" value="Open" [disabled]="!form.valid || bPrintReportLoading"
								(click)="printReport(true, selectedReport.name)" />
							<input *ngIf="selectedReport.type=='async'" type="button" class="btn btn-primary" value="Book" [disabled]="!form.valid || bPrintReportLoading"
								(click)="addBooking()" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>